.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 8px;

  @include tablet {
    margin: 10px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  @include desktop {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include tabletAndDesktop {
    display: flex;
    flex-direction: column;
  }
}

.card__video {
  width: 100%;

  img {
    display: block;
  }
}

.card__body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin-top: 12px;
}
.card__avatar {
  margin-right: 12px;
}
.card__text {
  display: flex;
  flex-direction: column;
}

.card__name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__name img {
  margin-left: 10px;
  margin-top: 7px;
}

.card__text h3 {
  font-size: 16px;
  margin: 0px;
}
.card__text span {
  color: var(--text-paragrap-2);
  margin-top: 5px;
  font-size: 14px;
}
