@import '../abstract/mixins';

.register__header {
  padding: 1rem 0;
}

.register__brand {
  position: absolute;
  top: 25px;
  left: 24px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 20px;
}

.register__brand__icon {
  display: block;
  height: 100%;
  transform: scale(1.5, 1.5);
}

.register__brand__letter {
  display: block;
  height: 100%;
}

.register__title {
  margin: 0;
  color: var(--gray-dark);
  font-weight: 700;
  font-size: 1rem;
}

.register__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8rem;
  margin-bottom: 2rem;

  @include tabletAndDesktop() {
    grid-template-columns: 1fr 1fr;
  }
}

.register__input {
  display: block;
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
}

.register__input:focus {
  outline-color: var(--blue);
}

.register__input--span {
  @include tabletAndDesktop() {
    grid-column: span 2;
  }
}

.register__link {
  border: none;
  color: var(--text-link);
  background-color: white;
  font-size: 0.8rem;
  @include desktop() {
    font-size: 1rem;
    cursor: pointer;
  }
}

.register__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
