@import '../abstract/mixins';

.search__form {
  width: 80%;
}
.search__input {
  display: none;
  width: 100%;
  height: 40px;
  border: 1px solid #cccccc;
  padding: 0 1rem;
  color: var(--gray-dark);
  line-height: 1.5;
  letter-spacing: 0.05rem;
  background: #ffffff;
  box-shadow: inset 0px 1px 2px #eeeeee;
  outline: none;
  transition-property: border-color;
  transition-duration: 100ms;
  transform-origin: left;

  @include tabletAndDesktop() {
    display: block;
  }
}

.search__input:focus {
  border-color: var(--blue);
}
