.video-comments {
  min-height: 40vh;
  padding-bottom: 4rem;
}

.video-comments__header {
  margin-bottom: 1rem;
}

.video-comments__not-comments {
  text-align: center;
  font-weight: 700;
  color: var(--text-paragrap-2);
}
