// area container
.video__container{
  display: flex;
  flex-direction: column;
  

  @include tabletAndDesktop() {
    justify-content: center;
    flex-direction: row;
  }
  
}
// area video
.container__userandvideo{
  display: flex;
  flex-direction: column;
  }
//area comentarios

//area lista de videos
.videoView__list {
  display: flex;
  justify-content: center;
  
  @include tabletAndDesktop() {
    padding: 24px 24px 0 0;
    
  }
}
