// area container
.videoview__container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  @include tabletAndDesktop() {
    justify-content: center;
    flex-direction: row;
    gap: 20px;
  }
}

.videoview__content {
  flex-grow: 1;
}

.videoview__video {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: rgba($color: #000000, $alpha: 0.5);
}

//area lista de videos
.videoView__list {
  display: flex;
  flex-shrink: 0;
  justify-content: center;

  @include tabletAndDesktop() {
    padding: 24px 24px 0 0;
  }
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
