// area container
.videoview__container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  

  @include tabletAndDesktop() {
    justify-content: center;
    flex-direction: row;
    gap: 20px;
  }
}

.videoview__content {
  flex-grow: 1;
}

.videoview__video {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: rgba($color: #000000, $alpha: 0.5);
}
//area comentarios

.comment {
  display: flex;
  gap: 16px;
  color: var(--text-paragrap);
}

.comment__avatar {
  display: block;
  flex-shrink: 0;
  margin: 0;
  width: 40px;
}

.comment__avatar__img {
  display: block;
  width: 100%;
  border-radius: 100%;
}

.comment__content {
  flex-grow: 1;
}

.comment__title {
  display: flex;
  gap: 8px;
  margin: 0;
  margin-bottom: 8px;
}

.comment__user-name,
.comment__relative-time {
  font-size: 13px;
}

.comment__user-name {
  font-weight: 700;
}

.comment__relative-time {
  color: rgb(96, 96, 96);
}

.comment__body {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 20px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.comment__action {
  display: flex;
  gap: 4px;
  align-items: center;
}

.comment__action > .btn-action {
  width: auto;
  padding: 4px;
}

.comment__action > .btn-action > .btn-action__prepend {
  width: 32px;
  height: 32px;
  padding: 8px;
}

.comment__action > .btn-action > .btn-action__content {
  display: none;
}

.comment__likes {
  color: rgb(96, 96, 96);
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 20px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

//area lista de videos
.videoView__list {
  display: flex;
  flex-shrink: 0;
  justify-content: center;

  @include tabletAndDesktop() {
    padding: 24px 24px 0 0;
  }
}
