.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 60px;

  @include tablet() {
    padding: 0px 16px;
  }

  @include desktop() {
    padding: 0px 16px;
  }
}

.header__group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;

  @include tablet() {
    gap: 24px;
  }

  @include desktop() {
    gap: 24px;
  }
}

.hamburger__logo {
  display: flex;
  align-items: center;
  height: 20px;
  transform: scale(0.6, 0.6);

  @include tablet() {
    transform: scale(1, 1);
  }

  @include desktop() {
    transform: scale(1, 1);
  }
}

.brand__icon {
  display: block;
  height: 100%;
  transform: scale(1.5, 1.5);
  margin-right: 5px;
}

.brand__letter {
  display: block;
  height: 100%;
}

.group__hamburger {
  display: flex;
  transform: scale(0.6, 0.6);

  @include tablet() {
    transform: scale(1, 1);
  }

  @include desktop() {
    transform: scale(1, 1);
  }
}

.header__search {
  display: flex;
  width: 685px;
  height: 40px;
  transform: scale(0.6, 0.6);

  @include tablet() {
    margin: 10px;
    transform: scale(1, 1);
  }

  @include desktop() {
    margin: 40px;
    transform: scale(1, 1);
  }
}

.header__user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 242px;
  height: 40px;
  transform: scale(0.6, 0.6);

  @include tablet() {
    margin: 10px;
    transform: scale(1, 1);
  }

  @include desktop() {
    margin: 40px;
    transform: scale(1, 1);
  }
}
